html {
    font-family: Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
    /*Supported by WebKit/Safari, Blink/Chrome, and some versions of Internet Explorer and Microsoft Edge. */
}

body {
    width: 100%;
    margin: 0;
}
/* Inicia dise単o de todo en Header */
header {
    width: 100%;
    position: fixed;
    background-color: white;
}

#logo img {
    max-width: 100%;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul a {
    display: inline-flex;
    width: 16.666667%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 40%);
    font-size: 1rem;
    font-weight: 600;
    border-left: hsl(0, 0%, 80%) solid 0.75px;
    border-right: hsl(0, 0%, 80%) solid 0.75px;
    border-bottom: hsl(0, 0%, 80%) solid 1.5px;
    text-decoration: none;
}

#logo {
    padding: 10px;
    max-width: 65px;
}

#logo img {
    width: 100%;
    max-width: 55px;
}

#tabActivo {
    border-bottom: none;
}

@media screen and (max-width: 750px){
    nav ul a{
        font-size: 0.8rem;
    }
}
/* Termina dise単o de todo en Header e inicia en Main */
main {
    padding-top: 65px;
}

#titulo {
    display: flex;
}

#textoTitulo {
    padding: 0 10%;
}

#imagenTitulo {
    display: flex;
    align-items: flex-end;
    flex-flow: row-reverse;
}

#imagenTitulo img{
    padding-top: 20px;
    width: 200px;
}

/* Inicia dise単o de Galeria de fotos */
#bloqueGaleria {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pantallaCompleta {
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
    transition: opacity 0.5s;
}

#imagenPantallaCompleta {
    max-width: 100%;
    max-height: 80vh;
}

#opcionesPantallaCompleta {
    display: flex;
    padding-top: 2vh;
    justify-content: space-around;
    align-items: center;
}

.botonesPantallaCompleta {
    width: 15%;
    max-height: 10vh;
    cursor: pointer;
    transition: all 0.1s;
}

.botonesPantallaCompleta:active {
    width: 15%;
    max-height: 8vh;
    cursor: pointer;
    transition: all 0.1s;
}

#galeria {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

#galeria img{
    padding: 2px;
    border-radius: 15px;
}

#galPrimaria {
    width: 470px;
    max-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galPrimaria img{
    max-width: 100%;
}

#contenedorBotonesGaleria {
    border: rgb(51, 170, 184) solid 1.5px;
    border-radius: 10px;
    box-sizing: border-box;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#galeria .botonesGaleria {
    width: 15%;
    cursor: pointer;
    transition: all 0.1s;
}

#galeria .botonesGaleria:active {
    width: 13%;
    transition: all 0.1s;
}

#botonGaleriaIzq:active {
    padding: 0 3px 0 2%;
    transition: all 0.1s;
}

#botonGaleriaDer:active {
    padding: 0 2% 0 3px;
    transition: all 0.1s;
}

#galSecundaria {
    max-width: 470px;
    max-height: 304px;
    align-items: flex-start;
}

.subGaleria {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#subGal1 {
    max-height: 157px;
}

#subGal2 {
    max-height: 65px;
}

#subGal1 img {
    max-width: 49%;
    max-height: 157px;
}

#subGal2 img {
    max-width: 19%;
    max-height: 65px;
}
/* Termina dise単o de Galeria de fotos */