html {
    font-family: Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
    /*Supported by WebKit/Safari, Blink/Chrome, and some versions of Internet Explorer and Microsoft Edge. */
    touch-action: manipulation;
}

body {
    width: 100%;
    margin: 0;
    background-image: url(../recursos/Mas_detalles/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
/* Inicia diseño de todo en Header */
header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 20;
}

#tabMovil {
    display: none;
}

#tabMovil img {
    display: none;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul a {
    display: inline-flex;
    width: 16.666667%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 40%);
    font-size: 1rem;
    font-weight: 600;
    border-left: hsl(0, 0%, 80%) solid 0.75px;
    border-right: hsl(0, 0%, 80%) solid 0.75px;
    border-bottom: hsl(0, 0%, 80%) solid 1.5px;
    text-decoration: none;
    transition: all 0.5s;
}

nav ul a:hover {
    color: rgb(0, 71, 18);
    background-color: rgba(268, 246, 175, 0.5);
    transition: all 0.5s;
}

#logo {
    padding: 10px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 0rem;
    transition: all 0.5s;
}

#logo img {
    width: 100%;
    max-width: 55px;
}

#logo:hover {
    font-size: 1rem;
    padding: 5px;
    transition: all 0.5s;
}

#tabActivo {
    background-color: rgba(268, 246, 175, 0.5)
}

@media screen and (max-width: 750px){
    nav ul a{
        font-size: 0.8rem;
    }
}
/* Termina diseño de todo en Header */

/* Inicia bloque de titulo */
main {
    padding-top: 65px;
}

#titulo {
    padding: 50px 0;
}

#textoTitulo {
    font-size: 1.4rem;
    padding: 0;
    text-align: center;
    background: radial-gradient(white, transparent);
    border-radius: 20px;
}

#textoTitulo h1{
    color: rgb(102,55,0)
}

#textoTitulo h4{
    color: rgb(136,109,0)
}

#textoTitulo h5{
    color: rgb(0,71,18)
}

#imagenTitulo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#imgPortadaTitulo {
    max-width: 25%;
    clip-path: circle(41%);
    box-sizing: border-box;
    border: hsl(0, 0%, 80%) solid 0.75px;
    transition: all 0.5s;
}

#imgPortadaTitulo:hover {
    max-width: 25%;
    clip-path: circle(100%);
    border: hsl(0, 0%, 80%) solid 4px;
    transition: all 0.5s;
}

#imgAveTitulo {
    max-width: 20%;
    padding-left: 5%;
}
/* Termina bloque de titulo */



/* Inicia diseño de Galeria de fotos */
#bloqueGaleria {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#pantallaCompleta {
    display: none;
    z-index: 50;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
    transition: opacity 0.5s;
}

#imagenPantallaCompleta1 {
    max-width: 100%;
    max-height: 80vh;
}

#opcionesPantallaCompleta {
    display: flex;
    padding-top: 2vh;
    justify-content: space-around;
    align-items: center;
}

.botonesPantallaCompleta {
    width: 15%;
    max-height: 10vh;
    cursor: pointer;
    transition: all 0.1s;
}

.botonesPantallaCompleta:active {
    width: 15%;
    max-height: 8vh;
    cursor: pointer;
    transition: all 0.1s;
}

#galeria {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 20px;
}

#galeria img{
    padding: 2px;
    border-radius: 15px;
    cursor: zoom-in;
}

#galPrimaria {
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galPrimaria img{
    max-width: 100%;
    max-height: 296px;
}

#contenedorBotonesGaleria {
    border: rgb(51, 170, 184) solid 1.5px;
    border-radius: 10px;
    box-sizing: border-box;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#galeria .botonesGaleria {
    width: 15%;
    cursor: pointer;
    transition: all 0.1s;
}

#galeria .botonesGaleria:active {
    width: 13%;
    transition: all 0.1s;
}

#botonGaleriaIzq:active {
    padding: 0 3px 0 2%;
    transition: all 0.1s;
}

#botonGaleriaDer:active {
    padding: 0 2% 0 3px;
    transition: all 0.1s;
}

#galSecundaria {
    max-width: 470px;
    max-height: 304px;
    align-items: flex-start;
}

.subGaleria {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#subGal1 {
    max-height: 157px;
}

#subGal2 {
    max-height: 65px;
}

#subGal1 img {
    max-width: 49%;
    max-height: 157px;
}

#subGal2 img {
    max-width: 19%;
    max-height: 65px;
}

.galeriaNoVisible {
    display: none;
}
/* Termina diseño de Galeria de fotos */



/* Inicia bloque de caracteristicas */
#bloqueCaracteristicasGenerales {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: 700;
    color: hsl(0, 0%, 40%);
    text-align: center;
}

.caracteristica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 150px;
    background: radial-gradient(white, transparent);
}

.caracteristica p {
    background: radial-gradient(white, transparent);
}

.imgCaracteristica{
    display: flex;
    justify-content: space-around;
}

.imgCaracteristica img{
    margin: 5px;
    max-width: 60px;
}

/* Termina bloque de caracteristicas */



/*Inicia seccion de contenido de servicios y todos sus elementos*/

#tituloDeTabla {
    height: 40px;
    font-size: 1.4rem;
}

#bloqueServicios {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}


#bloqueServicios table, #bloqueServicios th, #bloqueServicios td{
    border: hsl(0, 0%, 65%) 1px solid;
    border-collapse: collapse;
    color: hsl(0, 0%, 65%);
    background-color: white;
}

#bloqueServicios td{
    max-width: 420px;
}

.listasDeServicios {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listasDeServicios li {
    display: flex;
    width: 200px;
    align-items: center;
    justify-items: left;
    text-align: left;
    font-size: 0.8rem;
    list-style-type: none;
}

#bloqueServicios table img {
    max-width: 40px;
    margin: 10px 20px;
}
/*Termina seccion de contenido de servicios y todos sus elementos*/


/* Inicia seccion de contenido de Layout */
#layout {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

#imgLayout {
    width: 70%;
}
/* Termina sección de contenido de Layout */

/* Inicia footer */
footer {
    text-align: center;
    padding: 40px 0;
    margin-top: 10px;
    background-color: rgb(0, 71, 18);
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}
/* Termina footer */


/* Inicia Media Query para dispositivos moviles */
@media screen and (max-width: 560px) {
    /* Inicio Header */
    header {
        height: 52px;
        bottom: 0px;
        transition: all 1s;
        touch-action: pan-y;
    }

    #tabMovil {
        display: flex;
        width: 100%;
        height: 50px;
        font-size: 2rem;
        font-weight: 600;
        color: hsl(0, 0%, 40%);
        justify-content: center;
        align-items: center;
        border-top: hsl(0, 0%, 54%) 3px solid;
        border-bottom: 0;
    }


    #tabActivo {
        display: flex;
        width: 100%;
        height: 50px;
        padding: 0;
        font-size: 2rem;
        text-align: center;
        border-top: hsl(0, 0%, 54%) 3px solid;
    }

    #logo {
        display: flex;
        max-width: 100%;
        padding: 0;
        font-size: 2rem;
    }

    #logo:hover {
        font-size: 2rem;
        padding: 0;
    }

    #logo img{
        display: none;
    }

    nav ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    nav ul a {
        display: flex;
        width: 100%;
        height: 50px;
        font-size: 2rem;
        text-align: center;
        border-top: hsl(0, 0%, 54%) 3px solid;
        border-bottom: 0;
    }
    /* Fin Header */

    main {
        padding-top: 0;
    }

    /* Inicio titulo */

    #titulo {
        padding: 0;
    }

    #imagenTitulo {
        flex-flow: column;
    }

    #imgPortadaTitulo {
        max-width: 60%;
    }

    #imgPortadaTitulo:hover {
        max-width: 100%;
    }

    #textoTitulo h4 {
        padding: 0px 10px;
    }

    #imgAveTitulo {
        max-width: 40%;
        padding-left: 0;
    }

    
    /* Fin titulo */


    /* Inicia Galeria */

    #galPrimaria {
        width: auto;
        max-width: 470px;
    }

    #galeria img {
        padding: 0;
    }

    /* Fin Galeria */


    /* Inicia Pantalla Completa */
    .botonesPantallaCompleta:active {
        max-height: 40px;
    }
    /* Fin Pantalla Completa */


    /* Inicia Servicios */
    #contenidoDeServicios td{
        width: 49%;
    }

    .listasDeServicios {
        align-content: flex-start;
    }

    .listasDeServicios li {
        width: 100%;
    }
    /* Fin Servicios */

    /* Inicia Layout */
    #imgLayout {
        width: 95%;
    }
    /* Fin Layout */

    /* Inicia Footer */
    footer {
        margin-bottom: 50px;
        font-size: 0.7rem;
    }
}