html {
    font-family: Helvetica, sans-serif; 
}

body {
    width: 100%;
    margin: 0;
}

header {
    width: 100%;
}

#logo img {
    max-width: 100%;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul a {
    display: inline-flex;
    width: 16.666667%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 40%);
    font-size: 1rem;
    font-weight: 600;
    border-left: hsl(0, 0%, 80%) solid 0.75px;
    border-right: hsl(0, 0%, 80%) solid 0.75px;
    border-bottom: hsl(0, 0%, 80%) solid 1.5px;
    text-decoration: none;
}

#logo {
    padding: 10px;
    max-width: 65px;
}

#logo img {
    width: 100%;
    max-width: 55px;
}

#tabActivo {
    border-bottom: none;
}

@media screen and (max-width: 750px){
    nav ul a{
        font-size: 0.8rem;
    }
}