html {
  background-image: url('../../imagenes/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
   /*Supported by WebKit/Safari, Blink/Chrome, and some versions of Internet Explorer and Microsoft Edge. */
   touch-action: manipulation;
}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

table {
  background-color: white;
  border-spacing: 0;
  border-radius: 10px;
  margin: 0 3px;
  padding: 5px;
  box-shadow: 2px 3px 8px black;
}

tbody {
  background-color: white;
}

#divCentro{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

#cargandoPaginaPrincipal {
  width: 100px;
  animation: rotation 1s infinite linear;
  opacity: 0.7;
}

#botonVolverABuscar{
  background-color: rgb(0, 71, 18);
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

#botonVolverABuscar:hover{
  background-color: rgb(136, 109, 0);
}



@media screen and (max-width: 560px){
  table{
    margin: 3px;
  }
}