html {
    font-family: Helvetica, sans-serif; 
}

body {
margin: 0;
}

header {
    background-image: url('./recursos/inicio/imagenDeFondoHeader.png');
    background-size: cover;
    background-position: bottom;
}

#contenedorLogo {
    display: flex;
    justify-content: center;
    background-color: rgba(251, 245, 234, 0);;
}

#imgHeader {
    width: 90%;
    max-width: 428px;
    min-width: 417px;
    max-height: 200px;
    vertical-align: middle;
    padding: 10px 10% 50px 10%;
}
nav {
    background-color: rgba(251, 245, 234, 0);
}

ul.estiloDelMenu {
    display: flex;
    margin: 0;
    padding: 0 0 0 1%;
}


li.estiloDelMenu {
    display: inline-flex;
    font-weight: 600;
    color: rgb(0, 71, 18);
    justify-items: start;
    padding: 10px 20px 6px 20px;
    margin: 0 1%;
    border: rgba(102, 75, 0, 0.7) 2px solid;
    border-bottom: rgb(255, 255, 255) 2px solid;
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

li.estiloDelMenu img{
    display: none;
}

#navAlojamientos {
    z-index: 2;
}

#navServicios {
    z-index: 0;
}

#navUbicacion {
    z-index: 0;
}

#navConocenos {
    z-index: 0;
}

#cuerpoDeContenido {
    z-index: 1;
    border-top: rgba(102, 75, 0, 0.7) 2px solid;
    border-bottom: rgba(102, 75, 0, 0.7) 1px solid;
    width: 100%;
    position: relative;
    top: -2px;
    padding: 30px 0;
}

/*Seccion de contenido de ALojamiento y todos sus elementos*/
#contenidoDeAlojamientos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: mediumblue;
}

#mensajeDeBienvenida {
    margin: 0;
    border: 0;
    padding: 1% 2%;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(116, 72, 34);
    min-width: 440px;
}

.miniaturaCabanas {
    display: block;
    max-width: 406px;
    background-color: rgb(207,215,191);
    border: hsl(0, 0%, 80%) solid 3px;
    padding: 0;
    margin: 8px 1px;
    justify-content: center;
}

.miniaturaCabanas img{
    display: block;
    width: 380px;
    border: hsl(0, 0%, 100%) 2px solid;
    padding: 3px;
    margin: 8px;
}

.miniaturaCabanas .seccionDetalles {
    display: flex;
    align-content: center;
    flex-flow: column;
    margin: 0;
    padding: 0 0 4px 0;;
    background-color: rgb(245,239,227);
    text-align: center;
}

.nombreDeCabanas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-top: hsl(0, 0%, 75%) solid 3px;
    border-bottom: hsl(0, 0%, 75%) solid 3px;
}

img.cabezaDePajaro {
    width: 15%;
    height: auto;
    padding: 0;
    border: 0;
    margin: 0;
    opacity: 0.85;
}

img.cabezaDePajaroEspejo {
    transform: scale(-1, 1);
}

.miniaturaCabanas .seccionDetalles h2 {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 40%);
}

.miniaturaCabanas .seccionDetalles h3 {
    margin: 4px;
    color: hsl(0, 0%, 50%);
}

.miniaturaCabanas .seccionDetalles td {
    color: hsl(0, 0%, 40%);
    font-weight: 600;
}

.miniaturaCabanas .seccionBotones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(245,239,227)
}

.botonesMiniaturasCabanas {
    display: inline-flex;
    width: 49%;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 100%);
    border: hsl(0, 0%, 80%) 1px solid;
    box-sizing: border-box;
}

.botonesMiniaturasCabanas p {
    display: inline-block;
    padding: 0;
    margin: 0 10px;
    background-color:  hsl(0, 0%, 100%, 0);
    color: hsl(0, 0%, 35%);
    font-size: 1rem;
    font-weight: 600;
    pointer-events: none;
    user-select: none;
}

.botonesMiniaturasCabanas img {
    display: inline-block;
    width: 45px;
    padding: 0;
    margin: 0;
    border: 0;
    opacity: 65%;
    background-color:  hsl(0, 0%, 100%, 0);
    pointer-events: none;
    user-select: none;
} 

/*Seccion de contenido de servicios y todos sus elementos*/
#contenidoDeServicios {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(116, 72, 34);
}

#textoServicios {
    margin: 10px 20px 30px 20px;
    padding: 0;
}

#contenidoDeServicios table, #contenidoDeServicios th, #contenidoDeServicios td{
    border: hsl(0, 0%, 65%) 1px solid;
    border-collapse: collapse;
    color: hsl(0, 0%, 65%);
}

#contenidoDeServicios td{
    max-width: 420px;
}

.listasDeServicios {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listasDeServicios li {
    display: flex;
    width: 200px;
    align-items: center;
    justify-items: left;
    text-align: left;
    font-size: 0.8rem;
    list-style-type: none;
}

#contenidoDeServicios table img {
    max-width: 40px;
    margin: 10px 20px;
}
/*Contenido de Ubicacion*/
#contenidoDeUbicacion iframe {
    width: 92%;
    height: 600px;
    padding: 2%;
    margin: 2%;
    border: hsl(0, 0%, 80%) solid 3px;
    background-color: rgb(207,215,191);
}

#textoDeUbicacion {
    padding: 0 3%;
    border: 0;
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(116, 72, 34);
}