html {
    font-family: Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
     /*Supported by WebKit/Safari, Blink/Chrome, and some versions of Internet Explorer and Microsoft Edge. */
     touch-action: manipulation;
}

/* .noSeleccionar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;          Clase para que el usuario no resalte el elemento
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

body {
    width: 100%;
    margin: 0;
}

header {
    background-image: url('./recursos/inicio/imagenDeFondoHeader.jpg');
    background-size: cover;
    background-position: bottom;
}

#contenedorLogo {
    display: flex;
    justify-content: center;
    background-color: rgba(251, 245, 234, 0);;
}

#imgHeader {
    width: 90%;
    max-width: 428px;
    min-width: 417px;
    max-height: 200px;
    vertical-align: middle;
    padding: 10px 10% 50px 10%;
}
nav {
    background-color: rgba(251, 245, 234, 0);
}

#menu {
    display: flex;
    margin: 0;
    padding: 0 0 0 1%;
    align-items: flex-end;
    height: 33px;
}


.elementoDelMenu {
    display: inline-flex;
    height: 18px;
    font-weight: 600;
    color: rgb(0, 71, 18);
    justify-items: start;
    padding: 10px 20px 6px 20px;
    margin: 0 1%;
    border: rgba(102, 75, 0, 0.7) 2px solid;
    border-bottom: rgb(255, 255, 255) 2px solid;
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.25s;
}

.elementoDelMenu:hover {
    padding-bottom: 15px;
}

.elementoDelMenu img{
    display: none;
}

#navAlojamientos {
    z-index: 2;
}

#navServicios {
    z-index: 0;
}

#navUbicacion {
    z-index: 0;
}

#navConocenos {
    z-index: 0;
}

#cuerpoDeContenido {
    z-index: 1;
    border-top: rgba(102, 75, 0, 0.7) 2px solid;
    border-bottom: rgba(102, 75, 0, 0.7) 1px solid;
    width: 100%;
    position: relative;
    top: -2px;
    padding-bottom: 10px;
    background-image: url(./recursos/inicio/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/*Seccion de contenido de Alojamiento y todos sus elementos*/
#contenidoDeAlojamientos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(./recursos/inicio/desvanecidoBlanco.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#mensajeDeBienvenida {
    margin: 0;
    border: 0;
    padding: 1% 2%;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(116, 72, 34);
}

.miniaturaCabanas {
    display: block;
    max-width: 406px;
    background-color: rgb(241, 220, 175);
    border: rgba(0, 71, 18, 0.45) solid 3px;
    border-radius: 10px;
    padding: 0;
    margin: 10px;
    justify-content: center;
}

.imgPortadaCabanas {
    display: block;
    width: 380px;
    border: hsl(0, 0%, 100%) 2px solid;
    padding: 3px;
    margin: 8px;
}

.miniaturaCabanas .seccionDetalles {
    display: flex;
    align-content: center;
    flex-flow: column;
    margin: 0;
    padding: 0 0 4px 0;
    background-color: rgb(245,239,227);
    text-align: center;
}

.nombreDeCabanas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-top: hsl(0, 0%, 75%) solid 3px;
    border-bottom: hsl(0, 0%, 75%) solid 3px;
}

img.cabezaDePajaro {
    max-width: 15%;
    height: auto;
    padding: 0;
    border: 0;
    margin: 0;
    opacity: 0.85;
}

img.cabezaDePajaroEspejo {
    transform: scale(-1, 1);
}

.miniaturaCabanas .seccionDetalles h2 {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 40%);
}

.miniaturaCabanas .seccionDetalles h3 {
    margin: 4px;
    color: hsl(0, 0%, 50%);
}

.miniaturaCabanas .seccionDetalles td {
    color: hsl(0, 0%, 40%);
    font-weight: 600;
}

.miniaturaCabanas .seccionBotones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(245,239,227);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botonesMiniaturasCabanas {
    display: inline-flex;
    width: 49%;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 100%);
    border: hsl(0, 0%, 80%) 1px solid;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.6s;
}

.botonesMiniaturasCabanas:hover {
    background-color: hsl(0, 0%, 95%);
    border: hsl(0, 0%, 75%) 2px solid;
    transition: all 0.45s;
}

.botonesMiniaturasCabanas:active {
    background-color: rgb(207,215,191);
    border: hsl(0, 0%, 75%) 5px solid;
    transition: all 0.2s;
}

.botonesMiniaturasCabanas p {
    display: inline-block;
    padding: 0;
    margin: 0 10px;
    background-color:  hsl(0, 0%, 100%, 0);
    color: hsl(0, 0%, 35%);
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    pointer-events: none;
    user-select: none;
}

.botonesMiniaturasCabanas img {
    display: inline-block;
    max-width: 25%;
    padding-right: 4px;
    margin: 0;
    border: 0;
    opacity: 65%;
    background-color:  hsl(0, 0%, 100%, 0);
    pointer-events: none;
    user-select: none;
}
/*Termina de contenido de Alojamiento y todos sus elementos*/ 

/*Seccion de contenido de servicios y todos sus elementos*/
#contenidoDeServicios {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(116, 72, 34);
    background-image: url(./recursos/inicio/desvanecidoBlanco.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#textoServicios {
    margin: 10px 20px 30px 20px;
    padding: 0;
}

#contenidoDeServicios table, #contenidoDeServicios th, #contenidoDeServicios td{
    border: hsl(0, 0%, 65%) 1px solid;
    border-collapse: collapse;
    color: hsl(0, 0%, 65%);
    background-color: white;
}

#contenidoDeServicios td{
    max-width: 420px;
}

.listasDeServicios {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listasDeServicios li {
    display: flex;
    width: 200px;
    align-items: center;
    justify-items: left;
    text-align: left;
    font-size: 0.8rem;
    list-style-type: none;
}

#contenidoDeServicios table img {
    max-width: 40px;
    margin: 10px 20px;
}
/*Termina de contenido de servicios y todos sus elementos*/


/*Inicia contenido de Ubicacion*/
#contenidoDeUbicacion {
    background-image: url(./recursos/inicio/desvanecidoBlanco.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#contenidoDeUbicacion iframe {
    width: 92%;
    height: 600px;
    padding: 2%;
    margin: 2%;
    border: hsl(0, 0%, 80%) solid 3px;
    background-color: rgb(207,215,191);
}

#textoDeUbicacion h3, h5, h4 {
    padding: 2%;
    border: 0;
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(116, 72, 34);
}
/*Termina contenido de Ubicacion*/


/* Inicia contenido de Conócenos */
#contenidoDeConocenos {
    background-image: url(./recursos/inicio/desvanecidoBlanco.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* Termina contenido de Conócenos */


/* Inicia footer */
footer {
    text-align: center;
    padding: 40px 0;
    margin-top: 10px;
    background-color: rgb(0, 71, 18);
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}
/* Termina footer */

/*Media query para dispositivos moviles*/
@media screen and (max-width: 560px) {
    /*Secciòn de alojamientos*/
    #contenedorLogo {
        width: 100%;
        padding: 2% 0;
    }

    #imgHeader {
        width: 80%;
        min-width: 0;
        padding: 5%;
    }

    #menu {
        padding: 0;
        font-size: 0.7rem;
        height: auto;
    }

    .elementoDelMenu {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        width: 24%;
        height: auto;
        margin: 0 0.5%;
        padding: 0;
        padding-bottom: 1.5%;
        border-bottom: rgb(255, 255, 255) 3px solid;
        border-top-left-radius: 12%;
        border-top-right-radius: 12%;
        background-color: hsl(0, 0%, 100%);
    }

    .elementoDelMenu:hover {
        padding-bottom: 1.5%;
    }

    .elementoDelMenu img{
        display: block;
        width: 60%;
        padding-top: 10%;
        padding-bottom: -1.5%;
        pointer-events: none;
    }
    
    #mensajeDeBienvenida {
        width: 94%;
        padding: 3%;
    }

    .miniaturaCabanas {
        width: 99%;
    }

    .imgPortadaCabanas {
        width: 92%;
    }

    /*Sección de servicios*/
    #contenidoDeServicios td{
        width: 49%;
    }

    .listasDeServicios {
        align-content: flex-start;
    }

    .listasDeServicios li {
        width: 100%;
    }

    /*Sección de Ubicación*/
    #contenidoDeUbicacion iframe {
        width: 90%;
    }

    #textoDeUbicacion {
        padding: 0 4%;
        font-size: 1rem;
    }
}